button {
  &.disabled {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    cursor: not-allowed;
    border-color: rgb(156 163 175 / var(--tw-bg-opacity));

    &:hover {
      background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    }
  }
}
