$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

:root {
  font-family: #{$font-family};
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  /* -webkit-text-size-adjust: 100%; */
  /* width: 100%; */
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
  padding: 0;
  // height: 100%;
  min-height: 100vh;
  // display: flex;
  // place-items: center;
  /* min-width: 320px; */
}

#root {
  margin: 0 auto;
  width: 100vw;
  padding: 0;
  text-align: center;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
